extends layout

block content
	a(class='icon icon-add', href='/') new
	img(id='l', src='/img/l.gif')
	div(id='a', contenteditable)!=content
	div(class='buttons')
		button#btn-mail(class='icon icon-send') mail
		button#btn-download(class='icon icon-download') download
	
