doctype html
html
	head
		title= title
		link(href='//fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet')
		link(rel='stylesheet', href='/css/style.css')
	body
		block content
		script(src='/js/libs/filesaver.min.js', async)
		script(src='/js/libs/blob.min.js', async)
		script(src='/js/app.js')